* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(18, 3, 40);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a326d;
    height: 3rem;
    font-size: 1.1rem;

}

nav ul {
    display: flex;
    justify-content: space-between;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
    cursor: pointer;

}

nav ul li:hover {
    color: rgb(192, 189, 237);

}

.left {
    margin-left: 3rem;
}

.right {
    font-size: 0.80rem
}




section {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.purple {
    color: rgb(163, 109, 244);
}

.leftm {

    width: 50%;

}

.rightm {

    width: 35%;

}

.rightm img {
    width: 65%;
    margin: 20px;

}

.intro {
    margin: 5%;
    font-size: 2.5em;
}

#element {
    color: rgb(163, 109, 244);
}

main hr {

    border: 0;
    background: #7680cc;
    height: 0.1px;
    margin: 45px 45px;
}

.right button {
    border: none;
    background-color: #2a326d;
    color: white;
    cursor: pointer;
}

.right button:hover {
    color: rgb(192, 189, 237);
}

.section1 {
    display: flex;
    justify-content: space-evenly;

}

.div1 button {
    margin-top: -20%;
    height: 10vh;
    width: 30vh;
    font-size: 1.5rem;
    border-radius: 10vh;
    border: none;
    background-color: #98a2ee;
    color: rgb(30, 1, 80);
}

.div2 button {
    margin-top: -10%;
    height: 10vh;
    width: 40vh;
    font-size: 1.5rem;
    border-radius: 10vh;
    border: none;
    background-color: #98a2ee;
    color: rgb(30, 1, 80);
}

.section2 {
    display: flex;
    justify-content: space-around;
    margin: 1rem;

}

h2 {

    margin: 1rem;
    margin-left: 1rem;
    color: #c8b6ff;
}

.lefts {
    margin-right: 3rem;

    height: 16rem;
    width: 40rem;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.rights {
    margin-top: -4%;
    width: 22rem;
    height: 20rem;
}



.pro {
    margin-top: 1rem;
    margin-left: 1rem;
}

.project {
    margin: 2rem;
    margin-left: 2.5rem;
    height: 28rem;
    width: 60rem;
}

.list li {
    margin-top: 0.7rem;
}

.list h3 {
    color: #A8F1FF;
    font-size: 1.5rem;

}

.list ul li {
    font-size: 1.4rem;

}

.ed1 ul li {

    height: 5rem;
    width: 26rem;
    font-size: 1.2rem;
}

.ed2 ul li {
    margin-left: 6rem;
    height: 5rem;
    width: 30em;
    font-size: 1.2rem;
    ;
}


.skill {
    margin-left: 2.5rem;
}

.skill li {
    margin-bottom: 0.7rem;
    font-size: 1.2rem;

}

.skill li strong {
    color: #95a5f5;
}


.play {
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    height: 2.5rem;
    width: 70rem;
    border-radius: 10rem;
    background-color: #281365;


}

.play button {
    height: 2.4rem;
    width: 7rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #98a2ee;
}

.empty {
    height: 3rem;
}

.hc {
    width: 15rem;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
    background-color: #98a2ee;
    color: #281365;
}

.con {
    display: flex;
    justify-content: space-between;

    width: 73rem;
    margin-left: 2.5rem;

    font-size: 1.3rem;
}

.icon {
    margin-top: -4.5%;

    width: 20rem;
    height: 15rem;
}

.con ul li {
    margin-bottom: 1rem;
    list-style: none;
}

.line1 {
    display: flex;
    margin-top: 3rem;
    margin-left: 4rem;
    justify-content: center;
    background-color: #2a326d;
    height: .01rem;
    width: 90%;
    border: none;

}

.link1 {
    display: flex;
    height: 3rem;
    background-color: rgb(18, 3, 40);
    gap: 2rem;
}

.icn1 {
    margin-left: 1rem;

    height: 3rem;
    width: 3rem;
}

.icn1 img {
    margin-top: -.3rem;
    height: 3.5rem;
    width: 3.5rem;
}

.icn2 {
    margin-right: 10rem;

    height: 3rem;
    width: 10rem;
}

.icn2 button {

    margin-top: .3rem;
    height: 2.4rem;
    width: 15rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgb(18, 3, 40);
    color: white;
}

.icn2 button:hover {
    color: rgb(192, 189, 237);
}